<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
            <meta name="description" content="" />
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
            <!-- <link rel="stylesheet" href="css/bootstrap.css" media="all" />
            <link rel="stylesheet" href="css/style.css" media="all" /> -->
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.css') }}">
            <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
            <title>Medic System register</title>
    </head>
    <body>

        <header class="title">
            <div class="container">
                <div class="logo__image"></div>
            </div>
        </header>

        <section class="login__section">
            <div class="container login__container">
                <div class="login__title__two">
                    <h2 class="forms__title">Proszę się zarejestrować</h2>
                </div>
                <div class="border flex flex--center-y">
                    <form method="post">
                        <div class="login__input row flex flex--center-y">
                            <label class="item__label">Login*:</label>
                            <input class="item__input" name="register_login" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder ='Wprowadź login...'" placeholder="Wprowadź login...">                  
                        </div>
                        <div class="name__input row flex flex--center-y">
                            <label class="item__label">Imię:</label>
                            <input class="item__input" name="register_name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder ='Wprowadź imię...'" placeholder="Wprowadź imię...">                  
                        </div>
                        <div class="surname__input row flex flex--center-y">
                            <label class="item__label">Nazwisko:</label>
                            <input class="item__input" name="register_surname" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder ='Wprowadź nazwisko...'" placeholder="Wprowadź nazwisko...">                  
                        </div>
                        <div class="password__input row flex flex--center-y">
                            <label class="item__label">Hasło:</label>
                            <input class="item__input" name="register_password" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder ='Wprowadź hasło...'" placeholder="Wprowadź hasło...">                  
                        </div>
                        <div class="password__rep__input row flex flex--center-y">
                            <label class="item__label">Powtórz Hasło:</label>
                            <input class="item__input" name="register_password_rep" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder ='Wprowadź hasło...'" placeholder="Wprowadź hasło...">                  
                        </div>
                        <div class="pwz__input row flex flex--center-y">
                            <label class="item__label">Numer PWZ**:</label>
                            <input class="item__input" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder ='Wprowadź nr PWZ...'" placeholder="Wprowadź nr PWZ...">                  
                        </div>
                        <div class="footnote">
                            <label class="footnote__text">*Pacjenci proszeni są o podanie numeru PSL</label>
                        </div>
                        <div class="footnote">
                            <label class="footnote__text">**Jedynie lekarze powinni podawać numer PWZ</label>
                        </div>
                        <div class="forms__button row">
                            <input type="submit" href="#" class="forms__button__inner btn" value="Zarejestruj">
                        </div>
                    </form>
                    {% if error %}
                        <p class="error" style="color: red; text-align: center; font-family: 'Roboto', sans-serif;">Error: {{ error }}
                    {% endif %}
                    <div class="register">
                        <label class="contact__name">albo </label>
                        <a href="{{ url_for('register') }}" class="contact__person">Zaloguj</a>
                    </div>
                </div>
            </div>
        </section>

        <footer class="login__footer">
            <div class="container">
                <div class="line__surround">
                    <div class="line"></div>
                </div>
                <div class="footer__box flex flex--center-y">
                    <label class="contact__name">W razie problemów proszę o kontakt z:</label>
                    <a href="#" class="contact__person">support@medic.system.pl</a>
                </div>
            </div>
        </footer>

    </body>
</html>