.title{
    margin: 0;
    padding: 0;
}

.logo__image{
    align-items: center;
    background: url("../image/logo.png") no-repeat center;
    min-height: 400px;
}

.login__title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 200px;
    margin: 0 0 -10px 0;
    font-size: 22px;
}

.login__title__two{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: 150px;
    margin: 0 0 -30px 0;
    font-size: 22px;
}

.forms__title{
    margin: 0;
    padding: 0;
}

.container{
    background-color: #f0f2f9;
}

.login__input, .name__input, .surname__input{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    line-height: 24px;
    margin-bottom: 10px;
}


.item__lable{
    font-family: 'Roboto', sans-serif;
    width: 400px;
}

.item__input{
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    height: 26px;
    margin: 0 0 0 15px;
    border: 1px solid #CCCCCC;
}

.password__input{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

.password__rep__input{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    margin-top: 8px;
    padding-right: 64px;
}

.pwz__input{
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    margin-top: 8px;
    padding-right: 54px;
}

.password__input .item__label{
    padding-top: 3px;
}

.forms__button{
    justify-content: center;
    margin: 24px 0 0 0;
}

.forms__button__inner{
    transition: all 0.25s ease-out;
    line-height: 1cm;
    margin: 0 0 10px 0;
    width: 120px;
    text-align: center;
    border: 1px solid #CCCCCC;
    background-color: #f5f7fe;
    outline-style: none;
    text-decoration: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    border-radius: 8px;
    font-weight: 600;
}

.forms__button__inner:hover{
    transition: all 0.25s ease-out;
    line-height: 1cm;
    width: 120px;
    text-align: center;
    background-color: #62c6ec;
    color: #f5f7fe;
    outline-style: none;
}

.line{
    background-color: #fb9297;
    height: 3px;
    margin-bottom: 90px;
}

.footer__box{
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 70px;
}

.contact__person{
    text-decoration: none;
}

.register{
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
}

.footnote{
    text-align: center;
    line-height: 13px;
    padding-top: 10px;
}

.footnote__text{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}

.logout{
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 40px;
    padding-top: 20px;
}

.pdf__link{
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.pdf__link__text{
    text-decoration: none;
}

.error{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: red;
}

.split__screen{
    display: flex;
}

.split__left{
    width: 40%;
    border: 1px solid #62c6ec;
    padding-top: 10px;
}

.split__right{
    width: 60%;
    border: 1px solid #62c6ec;
}

.patient__id{
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
    font-size: 18px;
    font-weight: 700;
}

.patient__data{
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    padding-left: 5px;
    border-top: 1px solid #62c6ec;
}

.patient__data li{
    padding-top: 10px;
}